body {
  background-color: #1c76b8;
}

#wrapper {
  align-items: center;
  min-height: 100vh;
  position: relative;
}

#main {
  display: flex;
  justify-content: center;
  text-align: left;
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  background-color: #1c76b8;
}

#inner {
  padding: 3.5rem 1rem;
  max-width: 100%;
}

.title {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 2.5em;
  letter-spacing: 0.5rem;
  vertical-align: middle;
}

.subtitle {
  margin-top: 1.25rem;
  margin-bottom: 2.25rem;
  font-family: "Roboto Mono", monospace;
  color: rgba(255, 255, 255, 0.769);
  font-size: 1.25em;
}

.centered {
  text-align: center;
}

.highlight {
  color: #000000;
  background-color: #ffff00;
}

.pt1 {
  padding-top: 1rem;
}
