body {
  background-color: #1c76b8;
}

#wrapper {
  align-items: center;
  min-height: 100vh;
  position: relative;
}

#main {
  display: flex;
  justify-content: center;
  text-align: left;
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  background-color: #1c76b8;
}

.logoicon {
  margin-right: 1rem;
}

#inner {
  padding: 3.5rem 1rem;
  max-width: 100%;
}

.title {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.5rem;
  vertical-align: middle;
}

.fs25 {
  font-size: 2.5em;
}

.subtitle {
  margin-top: 1.25rem;
  margin-bottom: 2.25rem;
  font-family: "Roboto Mono", monospace;
  color: rgba(255, 255, 255, 0.769);
  font-size: 1.25em;
  line-height: 1.5;
}

.text {
  margin-top: 1.25rem;
  margin-bottom: 2.25rem;
  font-family: "Roboto Mono", monospace;
  color: rgba(255, 255, 255, 0.769);
  font-size: 1em;
  line-height: 1.5;
  text-align: left;
}

.centered {
  text-align: center;
}

.highlight {
  color: #000000;
  background-color: #ffff00;
}

.pt1 {
  padding-top: 1rem;
}

.buttonHighlight {
  background-color: #ffff00;
  margin: 1em;
  padding: 1em;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  color: "white";
  width: 300px;
  height: 45;
  font-weight: 600;
  font-size: 14;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 3;
  box-shadow: "0px 1px 3px rgba(0, 0, 0, .3)";
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
